<% provide :title, t("reset_pass_title") %>
<% provide :button_text, t("submit") %>
<div class="bg-login">
  <div class="container-login">
    <h4><%= t "reset_password" %></h4>
    <br>
    <%= render "form_edit" %>
  </div>
</div>
